:root {
    --first-color : #fff;
    --second-color : #000;
    --primary-color : #F6D167;
    --secondary-color : #64C9CF;
    --hover-color : #DF711B
}


.header {
    height: 10vh;
    width: 100vw;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);    
    overflow: hidden;
    margin-bottom: 2px;
}

.logo-section {
    display: flex;
    justify-content: flex-start;
    padding: 5px 0;
}

.logo {
    padding: 5px;
}

.hamBurger {
    height : 100%;
    width : 100%;
    position: relative;
    
}


strong {
    font-size: 16px;

}

.footer {
    background-color: var(--hover-color);
    margin-top: 20px;    
    border-top: 1px solid var(--hover-color);
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);

}

.section {
    padding : 10px;  
}

.copyrightSection {
    background-color: var(--primary-color);
    text-align: center;
    font-size: 12px;
}

.linkAndContact {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



.introduction {
border-bottom: 1px solid var(--primary-color);
box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
padding : 10px;
border-radius: 15px;
border-top: 1px solid var(--secondary-color);
margin-top: 10px;

}

h3 {
    text-decoration: underline;
}

.carousel {
    width : 100vw;
    height : 500px;
    margin-bottom: 5px;
}

img {
    object-fit: fill;
    background-position: bottom;
    object-position: bottom;
    background-position: bottom;
}

@media screen and (max-width : 1000px) {

.carousel {
    width : 100vw;
    height : 400px;
}

img {
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: fill;
}

}

@media screen and (max-width : 700px) {
    
.carousel {
    width : 100vw;
    height : 300px;
}

img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
}

}