:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --hover-color : #57033E;
  --footer-color : #3f3d3e;
  --optional-color : #b6b3b5;

}

body {
  overflow-x: hidden;
}

.homePage {
  background-image: url("../public/house3.svg");
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  overscroll-behavior: initial;
  z-index: 1;
  position: relative;
  background-attachment: fixed;
}


.warningContainer {
  padding : 10px;
  margin : 20px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 15px;
    border-bottom: 2px solid var(--hover-color);
    border-top: 2px solid var(--secondary-color);
}

.homeContent {
    position: absolute;
    z-index: 5;
    top: 30%;
    left: 50%;
    transform : translate(-50%, -50%);
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.homePageLogo {
    margin-bottom: 25px;

}

.searchBox {
    width: 40vw;

}

.header {
  height: 10vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--primary-color);
  color: var(--text-color);
  position: sticky;
  top: 0;
  left: 0;
  width : 100%;
  z-index: 1000;
  border-bottom: 1px solid var(--optional-color);
}

.bar-of-progress {
  z-index: 50;
}

.pageLoading {
  font-size: 40px;
  text-align: center;
  
}

.loadingDiv {
display: flex;
justify-content: center;
align-items: center;
width : 100vw;
height: 70vh;
}

/* .menuContainer {
  position: relative;
  z-index: 50;
} */


.menuInner {
  padding : 10px;
  display : flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  top : 0;
  left: 0;
  right : 0;
  bottom : 0;
 
}

.burgerMenu {
  position: absolute;
  z-index: 100;
  transform : translate(50%, 90%) !important;
  cursor: pointer;
}

.burgerMenu:hover {
  color: var(--hover-color);
}

.burgerMenuList {
  padding : 10px;
  text-align: center;
  height:  100%;
}

.burgerMenuList li {
  margin : 15px 0;
}

.menuItem {
  color: var(--secondary-color);
  font-size: 18px;
}

.menuItem.active, .menuItem:hover {
  font-size: 20px;
  border-bottom: 1px solid var(--hover-color);  
  font-weight: 500;
}


/* hamBurger header */


/* .carouselImage {
    height : 100vh;
    background-size: contain;
} */

/* .carousel {
 height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  overscroll-behavior: initial;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

  
}

.carousel::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(70, 66, 66, 0.5);
  filter: brightness(50%);
  z-index: 2;
}
 */

.logo-section {
  display: flex;
  justify-content: flex-start;
  padding: 5px 0;
}

.logo {
  padding: 5px;
}



strong {
  font-size: 16px;
}

.footer {
  background-color: var(--footer-color);
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.section {
  padding: 10px;
}

.copyrightSection {
  background-color: var(--optional-color);
  text-align: center;
  font-size: 12px;
  color:var(--secondary-color);
}

.linkAndContact {
  display: flex;
  justify-content: space-around;
}

.aboutUs {
    text-align : center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.introduction {
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 15px;
  border-top: 1px solid var(--secondary-color);
  margin-top: 10px;
}

.footerTitle {
  text-decoration: underline;
  color: var(--secondary-color);
}



img {
  object-fit: fill;
  background-position: bottom;
  object-position: bottom;
  background-position: bottom;
}

@media screen and (max-width: 1000px) {

  /* .carouselImage {
    object-fit : cover;
} */


.searchBox {
    width: 50vw;
    height : 25px
}

}

@media screen and (max-width: 700px) {

      /* .carouselImage {
    object-fit : cover;
} */

.searchBox {
    width: 70vw;
}


}
