.loginPage {
  background-image: url("../public/house2.svg");
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  overscroll-behavior: initial;
  z-index: 1;
  position: relative;
  background-attachment: fixed;
}

.resetPage {
   background-image: url("../public/resetPass.png"); 
  height: 80vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  overscroll-behavior: initial;
  z-index: 1;
  position: relative;
  background-attachment: fixed;

}

.loginForm {
    position: absolute;
    left: 50%;
    top : 10%;
    transform: translate(-50%, -10%);
    border-radius: 15px;
    z-index: 10;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction : column;
    height: fit-content;
    width : 350px;
    background-color: var(--primary-color);
    border-bottom: 5px solid var(--hover-color);
    border-top: 5px solid var(--secondary-color);
        box-shadow: 5px 2px 25px rgba(0,0,0,0.5);


}

.formBottomtext {
    text-align: center;
    margin-top: 5px;
}

.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoDiv img {
    height : 60px;
    width : 60px;
    margin-bottom : 25px;
}

.loginForgot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.forgotText {
    margin-top: -8px;
    text-align : end;
    margin-bottom: 0px;
}

.formBottomSection {
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.or{
    margin : -20px;
    color : var(--secondary-color)
}


.fullForm {
    margin : 0;
    padding :0;
    height : 100%;
}

.serviceContainer {
    z-index: 10;
    position : absolute;
    width : 100%;
    top : 15%;
    right: 0;
}

.serviceContainer .ousrServices {
    background-color: var(--primary-color);
    width : 90%;
}

.serviceContainerXs {
    padding : 0 10px;
}

.ousrServices {
    flex-direction: column;
    margin: 0px 0 10px 0;
    box-shadow: 5px 2px 25px rgba(0,0,0,0.5);
    border-radius: 15px;
    border-bottom: 5px solid var(--hover-color);
    border-top: 5px solid var(--secondary-color);
    background-color: var(--primary-color);
    padding : 0 30px;
}

.ousrServices h2 {
    margin: 10px 0;
    border-bottom: 2px solid #000;
}

.loginFormButton {
    background-color: #3667ed;
}

/* .serviceList {
    width : 90%;
    margin-bottom: 10px;
    display : flex;
    align-items: center;
    justify-content: space-between;
     width : 100%;    
} */

.serviceList ul {
    display : flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width : 100%;    
}

.serviceList ul li {
    display : flex;
    align-items: center;
    margin: 10px;
    width : 45%;
    font-size: 16px;
    color : var(--text-color);
}

.serviceList ul li strong {
    margin: 0 10px;
}

.stepContainer {
    width : 50%;
    transform : translate(50%, -300%);
    z-index : 150;
    position : absolute;
}

@media screen and (max-width: 900px) {

    .stepContainer {
            width : 80%;
    transform : translate(10%, -400%);


    }
}