.loginForm {
    position: absolute;
    top: 45%;
    left: 50%;
    transform : translate(-50%, -50%);
    background-color: #fff;
    border-radius: 15px;
    z-index: 10;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction : column;
    height: fit-content;
    width : 350px;

}


.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoDiv img {
    height : 60px;
    width : 60px;
    margin-bottom : 25px;
}

.loginForgot {
    border : 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
