.searchUi {
 box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 15px;
    border-bottom: 2px solid var(--hover-color);
    border-top: 2px solid var(--secondary-color);    padding : 10px;
    margin: 15px;
    padding: 15px;
    padding-bottom: 0px;
}

.searchForm {
    display : flex;
    align-items: center;
    justify-content:flex-start;
    flex-wrap: wrap;

}

.saleAndRedemp {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

.saleDate , .redemp {
    width : 45%;


}

.searchItem {
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.actionSection {
 height : 100%;
 width : 50%;
 display : flex;
 align-items: center;
 justify-content: space-between;

}

